:root {
    --big-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9b8665;
    --light: #FFFFFF;
    --font-huge: 80px;
    --font-big: 32px;
    --font-medium: 28px;
    --font-small: 22px;
     }
html {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-style: normal;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}
h1, h2 {
    font-family: Forum, serif;
    font-style: normal;
    font-size: var(--font-huge);
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
h3 {
    font-size: var(--font-big);
    text-transform: uppercase;
        color: var(--big-dark);
}

h4 {
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-medium);
    line-height: 33px;
}
.margin-20 {
    margin: 20px 0px;
}

.padding-10 {
    margin: 0px;
    padding-top: 10px;
}

.padding-21 {
    margin: 0px;
    padding-top: 21px;
    }

.padding-26 {
    margin: 0px;
    padding: 26px 0px;
}

.padding-103 {
    width: 660px;
    height: 77px;
    margin: 0px;
    padding-top: 103px;
}

.uppercase {
    text-transform: uppercase;
}

.font-dark {
    color: var(--big-dark);
}

.font-hover {
    color: var(--font-gold);
}

.font-small {
    font-size: var(--font-small);
    font-weight: 200;
        }

.font-tiny {
    font-size: 18px;
}

.color-gold {
    color: var(--font-gold);
}

ul{
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    }

.li-padding {
    padding: 0px 38px;
}

.soc-padding {
    padding: 0px 12px;
}


.header-container {
    display: flex;
    justify-content: space-between;
  align-items: center;
   }

nav {
    font-weight: 200;
    font-style: normal;
    font-size: var(--font-small);
    line-height: 50px;
}

.first-child-padding {
    padding-left: 0px;
}

.last-child-padding {
    padding-right: 0px;
}
.logo-louvre {
    font-family: Forum, serif;
    font-style: normal;
    font-weight: 200;
    font-size: var(--font-medium);
    line-height: 50px;
}

.welcome:hover, .welcome:active, .visiting:hover, .visiting:active, .explore:hover, .explore:active, .video:hover, .video:active,
.tickets:hover, .tickets:active, .contacts:hover, .contacts:active {
    color: var(--font-gold);
}

.welcome:visited, .visiting:visited, .explore:visited, .video:visited, .tickets:visited, .contacts:visited  {
    color: var(--light);
}

a {
    text-decoration: none;
}

.container-welcome {
  position: absolute;
    z-index: 100;
    width: 598px;
    height: 390px;
    padding-top: 114px;
    }

.container-explore {
    position: absolute;
    width: 660px;
    /*height: 390px;*/
    }

.logo-container {
    display: flex;
    align-items: center;
    max-width: 195px;
}
.section {
    position: relative;
    padding: 75px 0px;
}
.dark-section {
    background-color: var(--big-dark);
    color: var(--light);
}
.video-section {
    padding: 90px 0px 75px;
}

.container {
    max-width: 1440px;
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 auto;

}
.button-discover {
    width: 360px;
    height: 75px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: var(--font-small);
    font-weight: 200;
    text-align: center;
    color: var(--light);
    background-color: var(--dark-red);
}

.button-discover:hover {
    cursor: pointer;
    background-color: var(--font-gold);
}

.button-buy {
    width: 175px;
    height: 50px;
    margin-top: 50px;
    font-size: var(--font-small);
    font-weight: 300;
    text-align: center;
    color: var(--big-dark);
    background-color: var(--light);
}

.button-buy:hover {
    cursor: pointer;
    background-color: var(--font-gold);
    }

.container-image {
    height: 750px;
    }

.image-wrapper {
    position: relative;
    width: 1215px;
    height: 750px;
    margin-left: auto;
    margin-top: auto;
    }

.image-wrapper-explore {
    position: relative;
    width: 720px;
    height: 700px;
    margin-left: auto;
    margin-top: auto;
}

.underline-title {
    position: relative;
}
.underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--dark-red);
}

.underline-item {
    position: relative;
    padding-top: 25px;
}
.underline-item::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 300px;
    height: 2px;
    background-color: var(--dark-red);
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 77px 30px;
    padding-top: 103px;

}

.tour-item-container {
    width: 440px;
    height: 422px;
}

.text-explore {
    width: 660px;
    height: 77px;
    padding: 3px 0px;
}

.text-video {
    width: 720px;
    height: 90px;
}

footer {
    height: 300px;
    box-sizing: border-box;
}

.span-color {
    color: var(--font-gold);
}

.video {
    width: 100%;
    height: 714px;
}
.input-top {
    display: block;
    margin: 0px;
    padding-top: 50px;
    }
.align-right {
    margin-left: auto;

}

.footer-nav {
    height: 150px;
    width: 366px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

footer .logo-container {
    align-self: flex-start;
}

footer .soc-list {
    align-self: flex-end;
}
